<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/css.css">
	 <!-- Link Swiper's CSS -->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
  <div class="container">
    <%- include('navi.ejs') %>
    <div class="visual about_visual">
      <div class="about_txtwrap">
        <h3>회사소개</h3>
      </div>
      <div class="about_inner">
        <ul class="about_gnb">
          <li><a href="/about_us">기업개요</a></li>
          <li><a href="/vision">VISION</a></li>
          <li><a href="#">회사연혁</a></li>
          <li><a href="#">CI</a></li>
          <li><a href="#">위치안내</a></li>
        </ul>
      </div>
    </div>
 
		<section class="overview-wrap">
			<div class="careers-inner">
				<h3 class="overview_title">기업개요</h3>
				<p class="overview_stitle">
					자율시장 및 ADAS 시장을 선도하고 고객에게 최고의 가치를 제공하는 전장부품 전문 소재기업<br>
					최고의 기술로 미래를 준비하는 티앤에프글로벌 홈페이지를 방문해주셔서 감사드립니다.  
				</p>
			</div>
      <article class="about_fouse">
				<div class="about_focus_inner">
					<div class="about_focus_list">
						<img src="./images/about_focus_bg.jpg" alt="about_focus">
					<div class="about_focus_txtbox">
						<div class="about_focus_txtlist">
							<h3>기업이념</h3>
							<p>
								주식회사 티앤에프글로벌은 2009년 4월 회사설립 이래 차량용 첨단기술 내재화를 가치로 하여 Head-up display,<br>
								Radar Sensor 및 차량용 Vision Solution 사업영역에서 기술 역량 강화를 통한 차량용 전장부품 전문 소재기업으로<br>
								 성장하고 있습니다.
								<br>
								<br>
								주식회사 티앤에프글로벌은 각 분야 최고의 인재들과 함께 기술혁신, 품질혁신 및 경영혁신을 통하여 다가오는 새로운<br>
								미래모빌리티 시장에 기술적으로 차별화된 다양한 제품과 솔루션을 공급함으로써 세계적인 자동차 전장부품 기업으로<br>
								 성장해 나가겠습니다.
							</p>
						</div>
					
					</div>
					</div>
					
				</div>
			</article>
		</section>

		<section class="company_photo_wrap">
			
			<div class="company_photo_inner">
				<div class="company_photo_txt">
					<h3>회사전경</h3>
				</div>
				<div class="swiper mySwiper">
					<div class="swiper-wrapper company_photo_list">
						<div class="swiper-slide company_photo_item">
							<img src="./images/company_photo01.jpg" alt="">
						</div>
						<div class="swiper-slide company_photo_item">
							<img src="./images/company_photo02.jpg" alt="">
						</div>
						<div class="swiper-slide company_photo_item">
							<img src="./images/company_photo02.jpg" alt="">
						</div>
						<div class="swiper-slide company_photo_item">
							<img src="./images/company_photo02.jpg" alt="">
						</div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-scrollbar"></div>

			
			</div>
		
		</section>
		
	
   <section class="about_info_wrap">
		 <div class="about_info-contents">
			  <div class="about_info_inner">
					<div class="about_info_texbox">
						<h3>일반정보</h3>
					</div>
					<div class="about_info_iconbox">
						<ul class="about_info_list">
							<li>
								<div class="info_list_txtbox">
									<h3 class="info-title">회사명</h3>
									<p class="info-stitle">
										주식회사 티앤에프글로벌<br>
										T&F Global Co., Ltd.
									</p>
								</div>
								<div class="info_list_iconbox">
									<img src="./images/info_icon01.png" alt="">
								</div>
							</li>
							<li>
								<div class="info_list_txtbox">
									<h3 class="info-title">설립일</h3>
									<p class="info-stitle">
										2009년 4월
									</p>
								</div>
								<div class="info_list_iconbox">
									<img src="./images/info_icon02.png" alt="">
								</div>
							</li>
							<li>
								<div class="info_list_txtbox">
									<h3 class="info-title">대표자</h3>
									<p class="info-stitle">
										정윤교
									</p>
								</div>
								<div class="info_list_iconbox"></div>
							</li>
							<li>
								<div class="info_list_txtbox">
									<h3 class="info-title">직원수</h3>
									<p class="info-stitle">
										270명 (계열사 전체)
									</p>
								</div>
								<div class="info_list_iconbox"></div>
							</li>
							<li>
								<div class="info_list_txtbox">
									<h3 class="info-title">회사명</h3>
									<p class="info-stitle">
										주식회사 티앤에프글로벌<br>
										T&F Global Co., Ltd.
									</p>
								</div>
								<div class="info_list_iconbox">
									<img src="./images/info_icon05.png" alt="">
								</div>
							</li>
	 
						</ul>
					</div>
				</div>
		 </div>
	 </section>

    
    <section style="height:3000px;"></section>
    <%- include('footer.ejs') %>
  </div>
   
  </section>
	 <!-- Swiper JS -->
	 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="./js/swiper_script3.js"></script>
</body>
</html>