<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/css.css">
	 <!-- Link Swiper's CSS -->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
  <div class="container">
    <%- include('navi.ejs') %>
    <div class="visual about_visual">
      <div class="about_txtwrap">
        <h3>회사소개</h3>
      </div>
      <div class="about_inner">
        <ul class="about_gnb">
          <li><a href="/about_us">기업개요</a></li>
          <li><a href="/vision">VISION</a></li>
          <li><a href="#">회사연혁</a></li>
          <li><a href="#">CI</a></li>
          <li><a href="#">위치안내</a></li>
        </ul>
      </div>
    </div>
 
		<section class="overview-wrap">
			<div class="careers-inner">
				<h3 class="overview_title">회사연혁</h3>
			</div>
      <article class="history_fouse">
				<div class="history_focus_inner">
					<div class="history_focus_list">
						<img src="./images/history_focus_bg.jpg" alt="about_focus">
				    <div class="history_focus_txtbox">
							<h3>History</h3>
							<p>(주)티앤에프글로벌의 걸어온 길을 소개합니다.</p>
						</div>	
					</div>
					</div>
    </section>


    <section class="timeline-section">
      <div class="timeline-items">
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2023</div>
          <div class="timeline-content">
            <ol>
                        <li>소재·부품·장비 전문기업 확인   <span>07</span></li>
                        <li>경영혁신형 중소기업 (Main-Biz)확인 <span>06</span></li>
                        <li>기술혁신형 중소기업 (Inno-Biz) 확인 <span>01</span></li>
                    </ol>
          </div>
        </div>
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2022</div>
          <div class="timeline-content">
            <ol>
                        <li><span>06</span>ISO 45001 안전보건경영시스템 인증</li>
                        <li><span>02</span>HUD 자동화 생산라인 구축</li>
                    </ol>
          </div>
        </div>
    
            <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2021</div>
          <div class="timeline-content">
            <ol>
                        <li><span>08</span>IATF 16949 품질경영시스템 인증</li>
                        <li><span>06</span>평택 신공장 증설 및 본점 이전</li>
                        <li><span>02</span>Digital Inner Mirror형 Dash-Cam 개발</li>
                    </ol>
          </div>
        </div>
    
            <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2020</div>
          <div class="timeline-content">
            <ol>
                        <li>
                            <span>12</span>57회 무역의날 3,000만불 수출탑 수상<div>국무총리 표창 수상</div>
                        </li>
                        <li><span>06</span>360도 / WIFI Dash-Cam 개발</li>
                    </ol>
          </div>
    
          <div class="photo01">
            <img src="./images/history_bg1.jpg" alt="">
          </div>
        </div>
        
    
            <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2019</div>
          <div class="timeline-content">
            <ol>
                        <li><span>11</span>라스베가스 AAPEX전시회 참가</li>
                        <li><span>10</span>주식회사 티앤에프글로벌 사명 변경</li>
                        <li><span>03</span>현대모비스와 RSE 공급계약 체결</li>
                        <li><span>01</span>주식회사 티앤에프 인수</li>
                    </ol>
            
          </div>
        </div>
    
            <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2018</div>
          <div class="timeline-content">
            <ol>
                        <li><span>12</span>55회 무역의날 2,000만불 수출탑 수상<br>산업통상자원부장관 표창 수상</li>
                        <li><span>10</span>중국 Canton Fair 2018 참가</li>
                    </ol>
          </div>
        </div>
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2017</div>
          <div class="timeline-content">
            <ol>
                        <li><span>12</span>54회 무역의날 1,000만불 수출탑 수상<div class="tx_box">중소기업유공자 국무총리 표창 수상</div></li>
              <li><span>12</span>현대모비스와 HUD 공급계약 체결</li>
                        <li><span>05</span>ISO 9001(품질경영시스템) 인증</li>
                    </ol>
          </div>
        </div>
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2016</div>
          <div class="timeline-content">
            <ol>
                        <li><span>08</span>주식회사 와이즈테크 합병 (M&A)</li>
                        <li><span>07</span>Android 기반 Navigation 개발</li>
                    </ol>
            <div class="photo02">
              <img src="./images/w1_product.jpg" alt="">
            </div>
          </div>
        </div>
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2015</div>
          <div class="timeline-content">
            <ol>
                        <li><span>12</span>52회 무역의날 500만불 수출탑 수상<div>산업통상자원부장관 표창 수상</div></li>
                        <li><span>08</span>블랙박스+첨단 운전자지원시스템(ADAS) 개발 완료</li>
                    </ol>
          </div>
        </div>
        
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2014</div>
          <div class="timeline-content">
            <ol>
                        <li><span>12</span>51회 무역의날 300만불 수출탑 수상</li>
                        <li><span>06</span>Dash-Cam All Model Line Up 완료</li>
                        <li><span>01</span>SQ (Supplier Quality) 인증 취득</li>
                    </ol>
          </div>
        </div>
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2013</div>
          <div class="timeline-content">
            <ol>
                        <li><span>12</span>50회 무역의날 100만불 수출탑 수상</li>
                        <li><span>01</span>일본 Dash-Cam수출 성과 달성</li>
                    </ol>
          </div>
        </div>
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2012</div>
          <div class="timeline-content">
            <ol>
                        <li><span>08</span>일본 파트너사와 Dash-Cam 독점 공급계약 체결</li>
                        <li><span>02</span>사내 Dash-Cam 생산라인 구축</li>
                    </ol>
          </div>
        </div>
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2011</div>
          <div class="timeline-content">
            <ol>
                        <li><span>07</span>러시아 Dash-Cam 수출 성과 달성</li>
                        <li><span>03</span>벤처기업 인증</li>
                    </ol>
          </div>
        </div>
    
        
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2010</div>
          <div class="timeline-content">
            <ol>
                        <li><span>04</span>Smart GPS Module 개발</li>
                        <li><span>03</span>LDWS (Lane Departure Warning System) 개발</li>
                        <li><span>02</span>4CH Car Dash-Cam 개발</li>
                    </ol>
          </div>
        </div>
    
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2009</div>
          <div class="timeline-content">
            <ol>
                        <li><span>12</span>Digital Wireless System 개발</li>
                        <li><span>09</span>1CH / 2CH Car Dash-Cam개발</li>
                        <li><span>05</span>GPS / RADAR Detector 개발</li>
                        <li><span>04</span>주식회사 천호테크 설립</li>
                    </ol>
          </div>
        </div>
	</div>
		

	
		
	
  

    </section>

    <%- include('footer.ejs') %>
  </div>
   

	 <!-- Swiper JS -->
	 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="./js/swiper_script3.js"></script>
</body>
</html>