<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/css.css">
</head>
<body>
  <div class="container">
    <%- include('navi.ejs') %>
		<main class="recruite">
			<div class="recruite_visual">
				<div class="recruite_txtwrap">
					<h3>challenge and passion</h3>
				</div>
				<div class="recruite_inner">
					<ul class="recruite_gnb">
						<li><a href="/personnelsystem">공시정보</a></li>
						<li><a href="/culture">재무정보</a></li>
						<li><a href="#">보도자료</a></li>
					</ul>
				</div>
			</div>
		</main>

		<section class="culture-wrap">
			<div class="culture_inner">
				<h3 class="culture_title">공시정보</h3>
				<p class="culture_stitle">
					다양성을 인정하고 공정한 대우와 공평한 기회 및 차별 금지를 위해서, 인사정책 및 프로그램으로 포용성을 장려합니다.<br>
          다양성 및 포용 전략과 실행 계획들이 다음의 네 가지를 주축으로 이뤄지고 있습니다.
				</p>
			</div>
		</section>
    
	

		

    <%- include('footer.ejs') %>
  </div>
   
  </section>
</body>
</html>