<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/css.css">
</head>
<body>
  <div class="container">
    <%- include('navi.ejs') %>
		<main class="notice">
			<div class="notice_visual">
				<div class="recruite_txtwrap">
					<h3>IR.PR</h3>
				</div>
				<div class="recruite_inner">
					<ul class="recruite_gnb">
						<li><a href="/personnelsystem">공시정보</a></li>
						<li><a href="/culture">재무정보</a></li>
						<li><a href="#">보도자료</a></li>
					</ul>
				</div>
			</div>
		</main>

		<section class="notice_contents">
			<div class="notice-inner">
				<img src="../images/notice_contents.jpg" alt="">
			</div>
		</section>

	
    
	

		

    <%- include('footer.ejs') %>
  </div>
   
  </section>
</body>
</html>