<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/css.css">
</head>
<body>
  <div class="container">
    <%- include('navi.ejs') %>
		<main class="recruite">
			<div class="recruite_visual">
				<div class="recruite_txtwrap">
					<h3>challenge and passion</h3>
				</div>
				<div class="recruite_inner">
					<ul class="recruite_gnb">
						<li><a href="/personnelsystem">인사제도</a></li>
						<li><a href="/culture">조직문화</a></li>
						<li><a href="#">채용절차</a></li>
					</ul>
				</div>
			</div>
		</main>

		<section class="talent-wrap">
			<div class="talent_inner">
				<h3 class="talent_title">인사제도</h3>
				<div class="talent_contents">
					<ul class="talent_list">
						<li>
							<img src="./images/talent_icon01.png" alt="">
							<h3 class="talent_list_title">채용</h3>
							<h4 class="talent_list_stitle">공정하고 합리적인 채용 프로세스를 통한 우수 인재 채용</h4>
							<P>
								현재에만 안주하지 않고 앞으로 새로운 세계를 만들어 가는 사람입니다. 
								물론 도전정신에는 실패의 가능성이 많습니다. 그러나 도전정신을 가진 
								사람은 실패를 해가면서도 그것을 잘 극복하고 계속적으로 수정하여 
								잘못된 것을 고쳐나가는 사람을 의미합니다.
							</P>
						</li>
						<li>
							<img src="./images/talent_icon02.png" alt="">
							<h3 class="talent_list_title">기회 제공</h3>
							<h4 class="talent_list_stitle">우수 인재에게는 인센티브 및 특진을 통해 더 많은 기회 제공</h4>
							<P>
								현재에만 안주하지 않고 앞으로 새로운 세계를 만들어 가는 사람입니다. 
								물론 도전정신에는 실패의 가능성이 많습니다. 그러나 도전정신을 가진 
								사람은 실패를 해가면서도 그것을 잘 극복하고 계속적으로 수정하여 
								잘못된 것을 고쳐나가는 사람을 의미합니다.
							</P>
						</li>
						<li>
							<img src="./images/talent_icon03.png" alt="">
							<h3 class="talent_list_title">평가제도</h3>
							<h4 class="talent_list_stitle">업무 역량과 성과에 따른 개인 인상율 차등, 승진에 따른 추가 인상율 적용</h4>
							<P>
								현재에만 안주하지 않고 앞으로 새로운 세계를 만들어 가는 사람입니다. 
								물론 도전정신에는 실패의 가능성이 많습니다. 그러나 도전정신을 가진 
								사람은 실패를 해가면서도 그것을 잘 극복하고 계속적으로 수정하여 
								잘못된 것을 고쳐나가는 사람을 의미합니다.
							</P>
						</li>
						<li>
							<img src="./images/talent_icon04.png" alt="">
							<h3 class="talent_list_title">직급 체계</h3>
							<h4 class="talent_list_stitle">효율적인 직급 체계를 운영하여 성장의 기회를 제공</h4>
							<P>
								현재에만 안주하지 않고 앞으로 새로운 세계를 만들어 가는 사람입니다. 
								물론 도전정신에는 실패의 가능성이 많습니다. 그러나 도전정신을 가진 
								사람은 실패를 해가면서도 그것을 잘 극복하고 계속적으로 수정하여 
								잘못된 것을 고쳐나가는 사람을 의미합니다.
							</P>
						</li>

					</ul>
				</div>
			</div>
		</section>
    
		<section class="careers-wrap">
			<div class="careers-inner">
				<h3 class="career_title">인재상</h3>
				<p class="career_sub_title">
					티앤에프글로벌은 도전과 열정으로 지속적인 기술개발이라는 
					가치실현을 위해 함께할 인재를 찾습니다. 
				</p>
				<div class="career-contents">
					<ul class="career_list">
						<li>
							<img src="./images/carrer_img01.jpg" alt="">
							<div class="caption">
								<div class="caption_contents">
								  <h3 class="caption_title">인재상 01</h3>
									<h1>혁신</h1>	
									<h4>창의적인 생각과 열정으로 새로운<br> 가치를 창출하는 인재</h4>
									<p>원칙준수 / 주인의식,솔선수범 / 고객지향</p>
								</div>		
							</div>
						</li>
						<li>
							<img src="./images/carrer_img02.jpg" alt="">
							<div class="caption">
								<div class="caption_contents">
								  <h3 class="caption_title">인재상 02</h3>
									<h1>신뢰</h1>	
									<h4>책임감으로 고객가치를<br> 창출하는 인재</h4>
									<p>창의성 / 변화에 따른 대응 / 진취적인 자세</p>
								</div>		
							</div>
						
						</li>
						<li>
							<img src="./images/carrer_img03.jpg" alt="">
							<div class="caption">
								<div class="caption_contents">
								  <h3 class="caption_title">인재상 03</h3>	
									<h1>전문성</h1>
									<h4>끊임없는 자기개발과 혁신을 통해<br> 담당분야에 최고가 되고자하는 인재</h4>
									<p>끊임없는 자기개발 / 지치지 않는 열정</p>
								</div>		
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="welfare_wrap">
			<div class="welfare_inner">
				<h3 class="welfare_title">복리후생</h3>
				<p class="welfare_sub_title">
					티앤에프글로벌은 다양한 복리후생 제도를 통하여 임직원 개개인의<br>
				 역량 강화 및 근무만족도 향상을 위하여 노력합니다. 
				</p>
				<div class="welfare_contents">
					<ul class="welfare_list">
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon01.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">경조 휴가 및 경조금</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon01.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">육아 및 출산<br> 가족 돌봄 휴가 등</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon01.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">연차, 반차 휴가<br>하계 유급 휴가</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon04.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">분기 우수사원 시상<br>업무 제안제도 시상</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon05.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">장거리근무자<br> 기숙사 지원</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon05.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">생일 및 명절<br> 상품권 지급</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon05.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">전산장비 지급</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon05.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">통신비 보조 지원</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon05.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">회식비/교육비 지원</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon05.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">건강검진 지원</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon09.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">휴양시설 운영</h3>
						</li>
						<li>
							<div class="welfare_item">
								<img src="./images/welfare_icon10.png" alt="">				  
							</div>
							<h3 class="welfare_list_title">카페테리아 운영</h3>
						</li>
				
	
					</ul>
				</div>
			</div>
		</section>

    <%- include('footer.ejs') %>
  </div>
   
  </section>
</body>
</html>