.overview-wrap {
	width: 100%;
	height: 100%;
	padding: 80px 0;
}
.overview-contents {
	width: 1244px;
	margin: 0 auto;
}

.overview_title {
	font-size: 45px;
	color: #000;
	font-weight: 800;
	text-align: center;
	margin: 110px 0 50px;
}
.overview_stitle {
	font-size: 23px;
	color: #000;
	letter-spacing: -0.018em;
	line-height: 1.4em;
	font-weight: 400;
	text-align: center;
	margin: 8px 0 65px;
}

.history_fouse {
}
.history_focus_inner {
	width: 1440px;
	margin: 0 auto;
}
.history_focus_list {
	position: relative;
	width: 100%;
}
.about_focus_list img {
	background-size: cover;
	background-position: center center;
}
.history_focus_txtbox {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	text-align: center;
}

.history_inner {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.history_inner img {
	width: 1920px;
	max-width: 100%;
}
