@charset "utf-8";
.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.notice > .notice_visual {
	position: relative;
	width: 100%;
	height: 80vh;
	z-index: 0;
	background: url("../images/notice_visual.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.notice > .notice_visual:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 80vh;
	z-index: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.35) 14%, rgba(0, 0, 0, 0.2));
}
.recruite_txtwrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.recruite_txtwrap h3 {
	font-size: 70px;
	color: #fff;
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.recruite_txtwrap h3 {
	animation: ani 1.2s 0.4s both;
}

@keyframes ani {
	0% {
		opacity: 0;
		transform: translateY(70px);
	}
	50% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.recruite_inner {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 1440px;
	margin: 0 auto;
}

.recruite_gnb {
	width: 1440px;
	height: 60px;
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgb(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.recruite_gnb li {
	text-align: center;
	width: 33.333%;
	height: 60px;
	line-height: 60px;
	border-left: 1px solid #373737;
	transition: all 0.3s ease-in-out;
}
.recruite_gnb li:hover {
	background: #fff;
	cursor: pointer;
}
.recruite_gnb li a {
	display: inline-block;
	width: 188px;
	height: 100%;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
}
.recruite_gnb li:hover a {
	color: #000;
	font-weight: 500;
}

.notice_contents {
	width: 100%;
}
.notice-inner {
	width: 100%;
	margin: 0 auto;
}

.notice-inner img {
	width: 1920px;
}
